---
layout: archive
title: "Conferences"
permalink: /conferences/
author_profile: true
redirect_from:
  - /publications/
---

{% include base_path %}

<h2>Publications</h2><hr />

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% assign conference_papers = site.publications | where: "category", "conferences" | sort: "path" | reverse %}
{% assign professional_service = site.professional_service | sort: "path" | reverse %}

<ul>
  {% for paper in conference_papers %}
    <li>
      {% if paper.conference_label %}<strong>{{ paper.conference_label }}.</strong> {% endif %}<a href="{{ base_path }}{{ paper.url }}">{{ paper.title }}</a>{% if paper.conference_note %}, <i>{{ paper.conference_note }}</i>{% endif %}<br />
      {{ paper.authors }}
      {% if paper.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">{{ paper.excerpt | markdownify | remove: '<p>' | remove: '</p>' | strip }}</p>
      {% endif %}
      {% if paper.news_excerpt %}
        <p class="archive__item-excerpt" itemprop="description">{{ paper.news_excerpt | markdownify | remove: '<p>' | remove: '</p>' | strip }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h2>Professional Service</h2><hr />

<ul>
  {% for service in professional_service %}
    <li><strong>{{ service.title }}.</strong> {{ service.description }}</li>
  {% endfor %}
</ul>



